<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
  <appSettings>
    <add key="CameraIP" value=""/>
    <add key="locip" value=""/>
    <add key="Camerausername" value=""/>
    <add key="Camerapassword" value=""/>
    <add key="locport" value=""/>
    <add key="place" value=""/>
    <add key="kaoqinnum" value="99"/>
    <add key="score" value="81"/>
    <add key="dscore" value="80"/>
    <add key="groupid" value=""/>
    <add key="facepath" value="c:\facepic\"/>
    <add key="stime1" value="06:10"/>
    <add key="etime1" value="15:30"/>
    <add key="stime2" value="18:05"/>
    <add key="etime2" value="22:30"/>
    <add key="semaphoreSlim" value="8"/>
    <add key="throw" value="2"/>
    <add key="thresholdMinutes" value="1"/>
    <add key="weixinurl" value=""/>
    <add key="db" value="" />
    <add key="OCRAPI" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
